
.heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    background: black;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 50px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}
.second_heading{
    font-size: 2.5rem;
    font-weight: bold;
    background: black;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 50px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}


.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 44px;
    padding: 10px;
}

.navbar a {
    background: linear-gradient(to right, #ff41ff, #ff4b2b);
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
    font-size: 1rem;
}

.navbar a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 10px;
}

.card-header {
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    background: linear-gradient(to right, #ff41ff, #ff4b2b);
    text-decoration: none;
    border-radius: 50%;
    transition: 0.3s;
    position: absolute;
    margin-left: -45px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* Responsive media queries */

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }

    .heading {
        padding: 20px;
        font-size: 30px;
    }

    .card {
        width: 80%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        width: 90%;
        text-align: center;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background: linear-gradient(to right, #ff41ff, #ff4b2b);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: linear-gradient(to right, #ff41ff, #ff4b2b);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}



